{% extends "base.html" %}


{% block css %}
    <link rel="stylesheet" href="./css/main.css">
{% endblock %}


{% block main %}
    {% if movies %}
        {% for movie in movies %}
            <a href="/movies/{{ movie.id }}" class="card">
                <img src="{{ movie.attributes.image.url }}" alt="Movie poster">
            </a>
        {% endfor %}
    {% else %}
            <div class="not-found-card">
                <h3>Error fetching movies, please try again later</h3>
            </div>
    {% endif %}
{% endblock %}